<%- include('nav') -%>
<%- include('whatsapp-button') -%>

<main id="contact" class="container">
    <%- include('alert') -%>
    
    <h2>SOBRE NÓS</h2>
    <p>
        Somos uma loja de boardgames e artigos geeks que já atua no mercado a 3 anos. 
        Disponibilizamos os melhores games que garantem diversão entre amigos e família
        e artigos sobre animes, jogos, e da cultura pop.
    </p>
    <h3>NOSSA LOJA</h3>
    <div class="map ratio ratio-21x9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.137668719679!2d-41.929374282556154!3d-22.499017399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x97b4cfcb19074b%3A0x86558b7d7bd70f0b!2sR.%20Resende%2C%20470%20-%20Jardim%20Maril%C3%A9a%2C%20Rio%20das%20Ostras%20-%20RJ%2C%2028895-883!5e0!3m2!1spt-BR!2sbr!4v1669827149727!5m2!1spt-BR!2sbr" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    </div>
    <br>
    <p>R. Resende, 470 - Jardim Mariléa, Rio das Ostras - RJ, 28895-883</p>    
    <h3>FALE CONOSCO</h3>

    <%- include('form') -%>

</main>
<%- include('end-page') -%>
